<div class="top-header">
    <p> Curriculum Vitae </p>
</div>


<div class="cv-area">
    <h1> Current Work </h1>
    
    <div class="highlights">
        <div class="img-logo">
            <img src="/assets/images/biochemistry-logo.png">
        </div>
        <div class="work-description">
            <h2>PhD Candidate in Biochemistry</h2>
            <h3>Dr. Grant Brown Lab, University of Toronto, ON, Canada</h3>
            <h4>Full-time, September 2014 - Current </h4>
            <p> Protein functionality depends on protein concentration and subcellular location.
                My graduate work focuses on global proteomic changes in response
                to DNA replication stress.</p>
        </div>
        <br>
        <br>
        <hr>
    </div>
</div>
    
    