<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="transbox">
    <p> Unification of Protein Abundance Datasets Yields a Quantitative Saccharomyces cerevisiae Proteome </p>
</div>

<br>
<br>
<br>


<div class='card-container'>

    <!-- First row of elements -->
    <div class='row-container'>
        <div class='card' onclick="window.location='https://pubmed.ncbi.nlm.nih.gov/29361465/'">
            <div class='card-header'>
                <a>Link to paper</a>
            </div>
            <div class='card-image'>
                <img alt="GraphAbstract" title="GraphAbstract" src="/assets/images/proteinAbundancePaper.jpeg" />
            </div>
        </div>

        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS1.xlsx" target="_blank" download>Download Table S1</a>
            </div>
        </div>

        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS2.xlsx" target="_blank" download>Download Table S2</a>
            </div>
        </div>
    </div>


    <!-- Second row of elements -->
    <div class='row-container'>
        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS3.xlsx" target="_blank" download>Download Table S3</a>
            </div>
        </div>

        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS4.xlsx" target="_blank" download>Download Table S4</a>
            </div>
        </div>

        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS5.xlsx" target="_blank" download>Download Table S5</a>
            </div>
        </div>
    </div>


    <!-- Third row of elements -->
    <div class='row-container'>
        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS6.xlsx" target="_blank" download>Download Table S6</a>
            </div>
        </div>

        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS7.xlsx" target="_blank" download>Download Table S7</a>
            </div>
        </div>

        <div class='card'>
            <div class='card-header'>
                <a href="/assets/datasets/proteinAbundance/TableS8.xlsx" target="_blank" download>Download Table S8</a>
            </div>
        </div>
    </div>



    

</div>

