
nav {
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    width: 99.3%;
    height:70px;
    top: 0;
    background-color: #1D1D1F;
}


.header-nav {
    float: left;
    height: 80%;
}

a.name-home {
    display: block;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #F2F2F2;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 700;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav ul li {
    float: left;
    list-style-type: none;
}

a.nav-link {
    display: block;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #F2F2F2;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    background: #D8D8D8;
    color: #FFFFFF;
}
