<nav class="nav">
    <div class="header-nav">
        <ul class="nav-navbar" routerLinkActive="active">

            <li class="nav-item">
                <a class="nav-link" routerLink="home">Brandon Ho</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="publications">Publications & Data</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="cv">CV</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="cv">Contact</a>
            </li>
        </ul>
    </div>
</nav>