<nav class="nav">
    <div class="nav-container">
        
        <div class="header-nav">
            <ul>
                <li class="nav-item"><a class="name-home" routerLink="home">BRANDON HO</a></li>
            </ul>
        </div>

        <div class="header-nav">
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="Home">About/CV</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="publications">Publications & Data</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="Home"></a></li>
            </ul>
        </div>

    </div>
  </nav>