div.bg-img {
    background-image: url(/assets/images/brandonhoprofile.jpg);
    height: 45vh;
    width: 100%;

    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.transbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
}

div.transbox p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    font-family: 'Arial', Courier, monospace;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.about-area {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    max-width: 700px;
    max-height: 40vh;
    line-height: 40px;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vh;
    overflow-y: scroll;
}


.PhD-work {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;
}

.work-panel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height:30vh;
    width:50%;
    max-width: 50%;
    height: 70%;
    overflow: hidden;
    padding: 0% 2% 0% 0%;
}

.div-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 95%;
    max-width: 95%;
    object-fit:contain;
    overflow: hidden;
}

.div-img-container img {
    height: 100%;
    max-height: 30vh;
    width: 100%;
}

.work-description {
    max-height: 30vh;
    width: 100%;
    padding: 0% 5% 0% 0%;
    max-width: 800px;
    overflow-y: scroll;
}

.featured-article {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/FluorescentCells.png);
}

.black-content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 35vh;
    color: white;
}

.article-title {
    width: 90%;
    max-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 2% 0% 2%;
}

.article-description p {
    color: #FFFFFF;
    font-weight: 350;
    font-size: 25px;
    display: inline-block;
    line-height: 35px;
    padding-right: 2%;
}

h2 {
    font-family: 'Arial';
    font-weight: 500;
    padding: 0% 0% 2% 0%;
    margin: 0;
}

a {
    color: #4285F4;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Arial';
}

p {
    font-size: 20px;
    display: inline-block;
    line-height: 28px;
    font-family: 'Arial';
    font-weight: 100;
    margin: 0;
}