<div class="bg-img">
    <div class="transbox">
        <p> BRANDON HO <br><br>
            BIOCHEMISTRY PHD CANDIDATE AT THE UNIVERSITY OF  TORONTO </p>
        <p> website still in progress, come back soon!</p>
    </div>
</div>


<div class='content-area'>

    <!-- Insert the about me part -->
    <div class="about-area">
        <h1> About Brandon</h1>
            <div class="about-content">
                <p> I am a full-time Biochemistry PhD student at the university of Toronto. Under the 
                    supervision of Dr. Grant W. Brown, I am studying how the eukaryotic proteins respond to
                    DNA replication stress, a hallmark of cancer cells. Understanding how cells respond to
                    DNA replication stress will provide greater understanding of cancer biology and guide
                    cancer treatments.
                </p>
            </div>
    </div> 


    <!-- Inserting separate horizontal pannels for cards to be placed in  -->
    <div class='content-panel'>
        <div class='current-work'>
            <h1> Current Work </h1>
            <div class='work-panel'>
                <div class='UofT'>
                    test
                </div>
                <div class='work-card'>
                    test
                </div>
                <div class='work-card'>
                    test
                </div>
            </div>
        </div>
    </div>


    <!-- Inserting separate horizontal pannels for cards to be placed in  -->
    <div class='content-panel'>
        <div class='featured-article'>
            <div class='black-content-card'>
                <div>
                    <h1> Featured Article: A Cell Holds 42 Million Protein Molecules, Scientists Reveal </h1>
                </div>
                <div>
                    <p> A side and tangential project to my main thesis work, I mined the literature and
                        combined protein abundance datasets to provide a comprehensive and more complete
                        estimate of protein molecules in a eukaryotic cell. Learn more
                    </p>
                </div>

            </div>
        </div>
    </div>



</div>