
<div class="bg-img">
    <div class="transbox">
        <p> BRANDON HO <br><br>
            BIOCHEMISTRY PHD CANDIDATE WITH AN
            INTEREST IN GENOMICS, PROTEOMICS, BIG DATA ANALYTICS BASED IN TORONTO CANADA </p>
        <p> website still in progress, come back soon!</p>
    </div>
</div>



<div class="about-area">
    <br>
    <br>
    <h1> About Brandon</h1>
    <div>
        <div class="about-content">
            <p> I am a full-time Biochemistry PhD student at the university of Toronto. Under the 
                supervision of Dr. Grant W. Brown, I am studying how the eukaryotic proteins respond to
                DNA replication stress, a hallmark of cancer cells. Understanding how cells respond to
                DNA replication stress will provide greater understanding of cancer biology and guide
                cancer treatments.
            </p>
        </div>
    </div>
</div>
    
    