div.bg-img {
    background-image: url(/assets/images/brandonhoprofile.jpg);
    height: 600px;
    width: 100%;

    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.transbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
}

div.transbox p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 35px;
    display: inline-block;
    margin-top: 5%;
    line-height: 50px;
    width: 60%;
    font-family: 'Arial', Courier, monospace;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.about-area {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.content-panel {
    width: 100%;
    height: 550px;
}


.current-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    height: 100%;
}


.work-panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.work-card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    background-color: #f7f7f7;
}

.work-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #e9e9e9;
}

.inner-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 95%;
}

div.work-panel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40%;
    width:100%;
    padding-top: 7.5%;

}

.work-image {
    display: flex;
    justify-content: center;
    align-items: center;

}


div.work-panel-img img {
    max-height: 100%;
    object-fit: cover;
}

.work-description {
    width: 100%;
}

.featured-article {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/FluorescentCells.png);
}

.black-content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.black-content-card div {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.black-content-card p {
    color: #FFFFFF;
    font-weight: 350;
    font-size: 25px;
    display: inline-block;
    line-height: 35px;
}

h2 {
    font-family: 'Arial', Courier, monospace;
    font-weight: 500;
}

a {
    color: #4285F4;
    text-decoration: none;
    font-size: 20px;
}

P {
    font-size: 16px;
    display: inline-block;
    margin-top: 5%;
    line-height: 20px;
    font-family: 'Arial', Courier, monospace;
}

.contact-content-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    background-color: white;
}