<div class="bg-img">
    <div class="transbox">
        <p> Brandon Ho <br><br>
            
        <p> website still in progress, come back soon!</p>
    </div>
</div>


<div class='content-area'>

    <!-- Horizontal strip with about me -->
    <div class="about-area">
        <div>
            <h1> About Brandon</h1>
        </div>
            <div class="about-content">
                <p> 
                    I obtained my PhD from the University of Toronto in the Department of Biochemistry. I have over 7 years 
                    of laboratory experience in yeast biology and over a year of mammalian cell culture experience. 
                    I have a passion for data analysis,  applying computational tools to generate biological questions, and 
                    performing the experimentation to address those hypotheses.

                    <br>
                    <br>

                    In my spare time, I love to rock climb, bike, and explore all the neighbourhoods of Toronto. I also love
                    technology, and I am always looking for ways to upgrade my desk setup.

                </p>
            </div>
    </div> 


    <!-- Horizontal strip with current work information  -->
    <div class='content-panel'>

        <div class="PhD-work">

            <div class='work-panel-img'>
                <div class="div-img-container">
                    <img alt="LabPhoto" title="LabPhoto" src="/assets/images/CongratulationsJiongwen.png" />
                </div>
            </div>

            <div class='work-description'>
                <h2>PhD Student - University of Toronto</h2>
                <p> Led a project aimed at understanding how proteins inside a cell respond to various stresses and environments,
                    particularly DNA replication stress, using molecular and cellular biology, computational methods, high-throughput
                    microscopy, and genomic techniques.
                    <br>
                    <br>
                    <a href='http://brown.biochemistry.utoronto.ca/' target="_blank">Learn more</a>
                </p>
            </div>    
        </div>
    </div>



    <!-- Horizontal strip with current work information  -->
    <div class='content-panel'>

        <div class="PhD-work">

            <div class='work-panel-img'>
                <div class="div-img-container">
                    <img alt="LabPhoto" title="LabPhoto" src="/assets/images/BenchSci.jpeg" />
                </div>
            </div>

            <div class='work-description'>
                <h2>Biomedical Data Analyst - BenchSci</h2>
                <p> I have analyzed and characterized diverse forms of biomedical research data across over 
                    100 000 figures from scientific articles. Overall, I have contributed to 
                    improving the accuracy of BenchSci's AI to accelerate drug discovery and research.
                    <br>
                    <br>
                    <a href='https://www.benchsci.com/' target="_blank">Learn more</a>
                </p>
            </div>    
        </div>
    </div>





    <!-- Horizontal panel with featured article  -->
    <div class='content-panel'>
        <div class='featured-article'>
            <div class='black-content-card'>
                <div class="article-title">
                    <h1> Featured Article: A Cell Holds 42 Million Protein Molecules, Scientists Reveal </h1>
                </div>
                <div class="article-description">
                    <p> Mined the literature and
                        combined protein abundance datasets to provide the most comprehensive and more complete
                        estimate of protein molecules in a eukaryotic cell.
                        <a href='https://temertymedicine.utoronto.ca/news/cell-holds-42-million-protein-molecules-scientists-reveal' target="_blank">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>