div.transbox {
    background: #474f67;
    height: 250px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.transbox p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 35px;
    display: inline-block;
    line-height: 50px;
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
}

div.information {
    display: flex;
    justify-content: center;
}

div.information h4 {
    color: #4285F4;
}

div.publications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.publication-entry-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    margin: 20px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

div.publication-entry-container:hover{
    transform: scale(1.02);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

div.publication-entry {
    width: 65%;
}

div.bg-img-journal-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bg-img-journal-logo img {
    width: 50%;
    height: auto;
    margin: auto;
  }

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.about-area {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.about-content {
    display: inline-block;
    text-align: left;
    width: 40%;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}



p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    width:100%;
    height:auto;
}

mark {
    background-color: rgb(124, 253, 215);
    color: black;
  }