<div class="transbox">
    <p> Publications & Data </p>
</div>

<div class='information'>
    <h4>
        <br>
        Click card to access raw data (if applicable)
    </h4>
</div>

<div class="publications">

    <!-- First Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-biorxiv'>
            <img alt="biorxiv-logo" title="BioRxiv Logo" src="/assets/images/bioRxiv_article.jpeg" />
        </div>
        <div class='publication-entry'>
            <h2>
                RNF8 regulates R-loop resolution to prevent transcription-dependent DNA damage and is a vulnerability for BRCA1-mutant breast cancer
            </h2>
            <p>
                Rehna Krishnan, Mariah Lapierre, Brandon Gautreau, Samah El Ghamrasni, Parasvi S. Patel, Kevin
                Nixon, Talya Yerlici, Kiran Kumar Naidu Guturi, Jonathan St-Germain, Francesca Mateo, Amine Saad,
                Arash Algouneh, Rebecca Earnshaw, Joshua Miller, Negin Khosraviani, Chehronai Fozil, Adam Penn,
                Brandon Ho, Otto Sanchez, Grant W. Brown, Moulay Alaoui-Jamali, John Reynolds, Karim Mekhail,
                Brian Raught, Miguel A. Pujana, Grant S. Stewart, Anne Hakem, and Razq Hakem. (Submitted 2021)
            </p>
        </div>
    </div>


    <!-- Second Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-biorxiv'>
            <!-- <img alt="biorxiv-logo" title="JCI Logo" src="/assets/images/bioRxiv_article.jpeg" /> -->
        </div>
        <div class='publication-entry'>
            <h2>
                RNF168 regulates R-loop resolution and genomic stability in BRCA1/2-deficient tumors
            </h2>
            <h4>
                Journal of Clinical Investigation 1;131(3) (2021)
            </h4>
            <p>
                Parasvi S Patel Karan Joshua Abraham , Kiran Kumar Naidu Guturi , Marie-Jo Halaby , Zahra Khan, Luis
                Palomero, Brandon Ho, Shili Duan, Jonathan St-Germain, Arash Algouneh, Francesca Mateo, Samah El 
                Ghamrasni, Haithem Barbour, Daniel R Barnes, Jonathan Beesley, Otto Sanchez, Hal K Berman, Grant 
                W Brown, El Bachir Affar, Georgia Chenevix-Trench, Antonis C Antoniou, Cheryl H Arrowsmith, Brian 
                Raught, Miquel Angel Pujana, Karim Mekhail, Anne Hakem, Razqallah Hakem
            </p>
        </div>
    </div>


    <!-- Third Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-biorxiv'>
            <!-- <img alt="biorxiv-logo" title="JCI Logo" src="/assets/images/bioRxiv_article.jpeg" /> -->
        </div>
        <div class='publication-entry'>
            <h2>
                Sonic hedgehog accelerates DNA replication to cause replication stress promoting cancer initiation in medulloblastoma
            </h2>
            <h4>
                Nature Cancer 1, 840–854 (2020)
            </h4>
            <p>
                Lukas Tamayo-Orrego, David Gallo, Frédéric Racicot, Amandine Bemmo, Sushmetha Mohan, Brandon 
                Ho, Samer Salameh, Trang Hoang, Andrew P. Jackson, Grant W. Brown & Frédéric Charron
            </p>
        </div>
    </div>


        <!-- Fourth Publication Entry -->
        <div class='publication-entry-container'>
            <div class='bg-img-biorxiv'>
                <!-- <img alt="biorxiv-logo" title="JCI Logo" src="/assets/images/bioRxiv_article.jpeg" /> -->
            </div>
            <div class='publication-entry'>
                <h2>
                    Mapping DNA-damage dependent genetic interactions in yeast by en masse mating matrix and barcode fusion genetics
                </h2>
                <h4>
                    Molecular Systems Biology 14(5):e7985 (2018)
                </h4>
                <p>
                    Diaz-Meija, J., Mellor, J.C., Cote, A., Bansal, P., Shaeri, F., Gebbia, M., Balint, A., Ho, B., Weile J.,
                    Verby, M., Karkhanina, A., Zhang, Y., Wong, C., Rich, J., Prendergast, D., Gupta, G., Ozturk, S., 
                    Durocher, D., Andrews, B., Boone, C., Brown, G.W., Roth, F.P.
                </p>
            </div>
        </div>


            <!-- Fifth Publication Entry -->
        <div class='publication-entry-container' routerLink="/cellsystems">
            <div class='bg-img-biorxiv'>
                <!-- <img alt="biorxiv-logo" title="JCI Logo" src="/assets/images/bioRxiv_article.jpeg" /> -->
            </div>
            <div class='publication-entry'>
                <h2>
                    Unification of Protein Abundance Datasets Yields a Quantitative Saccharomyces cerevisiae Proteome
                </h2>
                <h4>
                    Cell Systems. Feb 28;6(2):192-205. (2018)
                </h4>
                <p>
                    Ho, B., Baryshnikova, A., and Brown, G.W.
                </p>
            </div>
        </div>

</div>



