<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="transbox">
    <p> Publications & Data </p>
</div>

<div class='information'>
    <h4>
        <br>
        Click card to access raw data (if applicable)
    </h4>
</div>

<div class="publications">

    <!-- First Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="biorxiv-logo" title="BioRxiv Logo" src="/assets/images/bioRxiv_article.jpeg" />
        </div>
        <div class='publication-entry'>
            <h2>
                RNF8 regulates R-loop resolution to prevent transcription-dependent DNA damage and is a vulnerability for BRCA1-mutant breast cancer
            </h2>
            <p>
                Rehna Krishnan, Mariah Lapierre, Brandon Gautreau, Samah El Ghamrasni, Parasvi S. Patel, Kevin
                Nixon, Talya Yerlici, Kiran Kumar Naidu Guturi, Jonathan St-Germain, Francesca Mateo, Amine Saad,
                Arash Algouneh, Rebecca Earnshaw, Joshua Miller, Negin Khosraviani, Chehronai Fozil, Adam Penn,
                <mark>Brandon Ho</mark>, Otto Sanchez, Grant W. Brown, Moulay Alaoui-Jamali, John Reynolds, Karim Mekhail,
                Brian Raught, Miguel A. Pujana, Grant S. Stewart, Anne Hakem, and Razq Hakem. (Submitted 2021)
            </p>
        </div>
    </div>


    <!-- Second Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="JCI-logo" title="JCI Logo" src="/assets/images/JCI_logo.png" />
        </div>
        <div class='publication-entry'>
            <h2>
                RNF168 regulates R-loop resolution and genomic stability in BRCA1/2-deficient tumors
            </h2>
            <h4>
                Journal of Clinical Investigation 1;131(3) (2021)
            </h4>
            <p>
                Parasvi S Patel Karan Joshua Abraham , Kiran Kumar Naidu Guturi , Marie-Jo Halaby , Zahra Khan, Luis
                Palomero, <mark>Brandon Ho</mark>, Shili Duan, Jonathan St-Germain, Arash Algouneh, Francesca Mateo, Samah El 
                Ghamrasni, Haithem Barbour, Daniel R Barnes, Jonathan Beesley, Otto Sanchez, Hal K Berman, Grant 
                W Brown, El Bachir Affar, Georgia Chenevix-Trench, Antonis C Antoniou, Cheryl H Arrowsmith, Brian 
                Raught, Miquel Angel Pujana, Karim Mekhail, Anne Hakem, Razqallah Hakem
            </p>
        </div>
    </div>


    <!-- Third Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="NatureCancer-logo" title="NatCancerLogo" src="/assets/images/NatureCancer_logo.jpeg" />
        </div>
        <div class='publication-entry'>
            <h2>
                Sonic hedgehog accelerates DNA replication to cause replication stress promoting cancer initiation in medulloblastoma
            </h2>
            <h4>
                Nature Cancer 1, 840–854 (2020)
            </h4>
            <p>
                Lukas Tamayo-Orrego, David Gallo, Frédéric Racicot, Amandine Bemmo, Sushmetha Mohan,  
                <mark>Brandon Ho</mark>, Samer Salameh, Trang Hoang, Andrew P. Jackson, Grant W. Brown & Frédéric Charron
            </p>
        </div>
    </div>


    <!-- Fourth Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="msb-logo" title="MSBLogo" src="/assets/images/MSB_logo.png" />
        </div>
        <div class='publication-entry'>
            <h2>
                Mapping DNA-damage dependent genetic interactions in yeast by en masse mating matrix and barcode fusion genetics
            </h2>
            <h4>
                Molecular Systems Biology 14(5):e7985 (2018)
            </h4>
            <p>
                Diaz-Meija, J., Mellor, J.C., Cote, A., Bansal, P., Shaeri, F., Gebbia, M., Balint, A., <mark>Ho, B.</mark>, Weile J.,
                Verby, M., Karkhanina, A., Zhang, Y., Wong, C., Rich, J., Prendergast, D., Gupta, G., Ozturk, S., 
                Durocher, D., Andrews, B., Boone, C., Brown, G.W., Roth, F.P.
            </p>
        </div>
    </div>


    <!-- Fifth Publication Entry -->
    <div class='publication-entry-container' routerLink="/cellsystems">
        <div class='bg-img-journal-logo'>
            <img alt="cellsystems-logo" title="CellSystemsLogo" src="/assets/images/CellSystems_logo.jpeg" />
        </div>
        <div class='publication-entry'>
            <h2>
                Unification of Protein Abundance Datasets Yields a Quantitative Saccharomyces cerevisiae Proteome
            </h2>
            <h4>
                Cell Systems. Feb 28;6(2):192-205. (2018)
            </h4>
            <p>
                <mark>Ho, B.,</mark>, Baryshnikova, A., and Brown, G.W.
            </p>
        </div>
    </div>


    <!-- Sixth Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="mcb-logo" title="MCBLogo" src="/assets/images/MCB_logo.png" />
        </div>
        <div class='publication-entry'>
            <h2>
                Premature Senescence in Hutchinsons Gilford Progeria Syndrome
            </h2>
            <h4>
                Molecular and Cellular Biology 37(14):e00659-16 (2017)
            </h4>
            <p>
                Wheaton, K., Campuzano, D., Ma, W., Sheinis, M.,  <mark>Ho, B.,</mark> Brown, G.W., and Benchimol, S
            </p>
        </div>
    </div>


    <!-- Seventh Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="ncomms-logo" title="NCOMMSLogo" src="/assets/images/NCOMMS_logo.png" />
        </div>
        <div class='publication-entry'>
            <h2>
                CX-5461 is a DNA G-quadruplex stabilizer with selective lethality in BRCA1/2 deficient tumours
            </h2>
            <h4>
                Nature Communications 8:14432 (2016)
            </h4>
            <p>
                Xu, H., Di Antonio, M., McKinney, S., Mathew, V.,  <mark>Ho, B.,</mark>., ONeil, N., Dos Santos, N., Silvester, J., 
                Kabeer, F., Lai, D., Wei, V., Garcia, J., Soriana, P., Chiu, D., Yap, D., Le, D., Banath, J., Ye, F., Zhang, 
                A., Thu, K., Soong, J., Lin, S., Osako, T., Algara, T., Saunders, D., Wong, J., Xian, J., Bally, M., Brenton, 
                J., Brown, G., Cescon, D., Mak, T., Caldas, C., Stirling, P., Hieter, P., Balasubramanian, S., and Aparicio, S.
            </p>
        </div>
    </div>


    <!-- Eigth Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="nar-logo" title="NARLogo" src="/assets/images/NAR_logo.png" />
        </div>
        <div class='publication-entry'>
            <h2>
                Intersection of Calorie Restriction and Magnesium in the Suppression of Genome-Destablizaing RNA-DNA Hybrids
            </h2>
            <h4>
                Nucleic Acids Research 44(18):8870-8884 (2016)
            </h4>
            <p>
                Abraham, K., Chan, J.N.Y., Salvi, J.S.,  <mark>Ho, B.,</mark> Hall, A., Vidya, E., Guo, R., Killackey, S., Liu,
                N., Lee, J.E., Brown, G.W., and Mekhail, K. 
            </p>
        </div>
    </div>


    <!-- Ninth Publication Entry -->
    <div class='publication-entry-container'>
        <div class='bg-img-journal-logo'>
            <img alt="reviewlogo" title="reviewlogo" src="/assets/images/reviewlogo.png" />
        </div>
        <div class='publication-entry'>
            <h2>
                High throughput fluorescence microscopic analysis of protein abundance and localization in budding yeast
            </h2>
            <h4>
                Critical Reviews in Biochemistry and Molecular Biology. 2016;51(2):110-9
            </h4>
            <p>
                Torres, N.P.,  <mark>Ho, B.,</mark> and Brown, G.W. 
            </p>
        </div>
    </div>


</div>



